<geoengine-token-login [routeTo]="['map']" color="accent" invalidTokenText="Ungültiges Token">
    <mat-card-header class="mat-typography">
        <mat-card-title>
            <img src="assets/logos/nfdi4biodiversity.png" alt="NFDI4BioDiversity" />
            <p matCardSubtitle class="mat-headline-6">Portaldemonstrator</p>
        </mat-card-title>
        <mat-card-subtitle>Bitte geben Sie ein Token an, um Zugang zu diesem Portal zu erhalten.</mat-card-subtitle>
    </mat-card-header>
</geoengine-token-login>
