mat-card-title {
    img {
        width: 100%;
        margin: 0 auto;
        margin-right: 0.5rem;
    }
    p {
        background: white;
        margin: 0 auto;
        color: rgba(0, 0, 0, 0.73);
    }
}
