# Compile output
/target
**/*.rs.bk

# Rust artifacts
Cargo.lock

# Build artifacts
*.profraw
lcov.info

# IDE files
/.idea
/.vscode
Settings.toml

# Data
upload/
test_upload/
services/test_upload/
**/*.gpkg-shm
**/*.gpkg-wal
geo_engine_*.log
**/**.aux.xml
test_data/netcdf4d/overviews/*
