[workspace]
members = [
    "datatypes",
    "operators",
    "services",
]
# Edition 2021 defaults to resolver 2, but virtul workspaces default to resolver 1, so we need to set it explicitly.
# TODO: This fails only for our xgboost dependency. If we can fix this, we can set this to "2".
resolver = "1"
# resolver = "2"

# Rust does not inline across crates if link-time optimization (LTO) is off, which it is by default.
# TODO: Maybe https://rust-lang.github.io/rust-clippy/stable/index.html#missing_inline_in_public_items is more suitable
[profile.release]
lto = true
