[web]
bind_address = "127.0.0.1:3030"
external_address = "http://localhost:3030"
backend = "in_memory" # TODO: remove option

[project_service]
list_limit = 20

[dataset_service]
list_limit = 20

[postgres]
host = "localhost"
port = 5432
database = "geoengine"
schema = "public"
user = "geoengine"
password = "geoengine"

[operators.gdal_source]
raster_data_root_path = "test_data/raster"

[raster.tiling_specification]
origin_coordinate_x = 0.0
origin_coordinate_y = 0.0
tile_shape_pixels_x = 600
tile_shape_pixels_y = 600

[query_context]
chunk_byte_size = 1048576 # TODO: find reasonable default

[upload]
path = "upload"

[logging]
# Minimum log level. Can be one of error, warn, info, debug, trace
# or a more detailed spec. See https://docs.rs/flexi_logger/0.17.1/flexi_logger/struct.LogSpecification.html.
log_spec = "info"

# Whether the logs should be also written to files.
# Log files are rotated once per day. The last 7 files will be kept.
log_to_file = false

# Changes the first part of the log filename.
filename_prefix = "geo_engine"

# Buffer log output to improve performance in production.
enable_buffering = false

# By default logs are saved in the current working directory.
# Use this option if another folder should be used.
#log_directory = "/var/log/"

[ogc.default_time]
# type "Value" with start/end as ISO strings or "Now" for using the current time, use wcs.default_time etc. for override
type = "Value"
start = "2014-01-01T00:00:00Z"
end = "2014-01-01T00:00:00Z"

[wcs]
# max number of tiles to be produced for generating output tiff
tile_limit = 4 

[odm]
endpoint = "http://localhost:3000/"
# TODO: authentication
