[web]
bind_address = "127.0.0.1:3030"
# set the public address of the server, if it is different from the bind address
# external_address = "http://localhost:3030"
backend = "in_memory" # TODO: remove option
version_api = true

[project_service]
list_limit = 20

[dataset_service]
list_limit = 20

[task_manager]
list_default_limit = 10
list_limit = 20

[postgres]
host = "localhost"
port = 5432
database = "geoengine"
schema = "public"
user = "geoengine"
password = "geoengine"

[raster.tiling_specification]
origin_coordinate_x = 0.0
origin_coordinate_y = 0.0
tile_shape_pixels_x = 512
tile_shape_pixels_y = 512

[query_context]
chunk_byte_size = 1048576 # TODO: find reasonable default

[upload]
path = "upload"

[logging]
# Minimum log level. Can be one of error, warn, info, debug, trace
# or a more detailed spec. See https://docs.rs/flexi_logger/0.17.1/flexi_logger/struct.LogSpecification.html.
log_spec = "info"

# Whether the logs should be also written to files.
# Log files are rotated once per day. The last 7 files will be kept.
log_to_file = false

# Changes the first part of the log filename.
filename_prefix = "geo_engine"

# By default logs are saved in the current working directory.
# Use this option if another folder should be used.
#log_directory = "/var/log/"

[ogc.default_time]
# type "Value" with start/end as ISO strings or "Now" for using the current time, use wcs.default_time etc. for override
type = "Value"
start = "2014-01-01T00:00:00Z"
end = "2014-01-01T00:00:00Z"

[wcs]
# max number of tiles to be produced for generating output tiff
tile_limit = 4 
# request_timeout_seconds = 3600

[wms]
# request_timeout_seconds = 3600

[wfs]
# request_timeout_seconds = 3600

[plots]
# request_timeout_seconds = 3600

[dataprovider]
dataset_defs_path = "./test_data/dataset_defs"
provider_defs_path = "./test_data/provider_defs"
layer_defs_path = "./test_data/layer_defs"
layer_collection_defs_path = "./test_data/layer_collection_defs"

[machinelearning]
model_defs_path = "./test_data/pro/ml"

[gdal]
# TODO: find good default
# Use 0 for `ALL_CPUS` option or a number >0 for a specific number of threads.
compression_num_threads = 8
compression_z_level = 6
compression_algorithm = "LZW"
allowed_drivers = [
    "COG",
    "CSV",
    "ESRI Shapefile",
    "FlatGeobuf",
    "GeoJSON",
    "GeoJSONSeq",
    "GPKG",
    "GTiff",
    "HDF4",
    "HDF5Image",
    "HTTP",
    "KML",
    "MEM",
    "Memory",
    "MSGN",
    "netCDF",
    "OGCAPI",
    "OSM",
    "PNG",
    "PostGISRaster",
    "PostgreSQL",
    "SAFE",
    "SQLite",
    "STACIT",
    "TopoJSON",
    "WCS",
    "WFS",
    "WMTS",
    "XLS",
    "XLSX",
    "Zarr",
    "GPX",
]

[session]
# Whether to allow requests to `/anonymous` that return a valid session.
anonymous_access = true

# Specifies a fixed session token. Otherwise, a random token is generated.
# This can be directly used for Bearer authentication in HTTP requests.
# fixed_session_token = "18fec623-6600-41af-b82b-24ccf47cb9f9"

# Specifies an admin session token. Otherwise, a random token is generated.
# This can be directly used for Bearer authentication in specific HTTP requests.
# admin_session_token = "8aca8875-425a-4ef1-8ee6-cdfc62dd7525"

# Settings for Geo Engine Pro
[user]
user_registration = true

[odm]
endpoint = "http://localhost:3000/"
# TODO: authentication

# Settings for compile-feature `nfdi` only
[gfbio]
# This is the basket API endpoint
basket_api_base_url= "https://dev.gfbio.uni-jena.de/daisi-api/api/baskets/"
# If this is set to true, basket entries that belong to the
# same dataset AND species are grouped within a single layer.
# This is the behavious of the old VAT system.
# If false, every basket entry translates into a layer on the map.
group_abcd_units = true

[oidc]
enabled = false
issuer = ""
client_id = ""
redirect_uri = ""
scopes = [ ]

[open_telemetry]
enabled = false
endpoint = "127.0.0.1:6831"

[data]
volumes = { test_data = "test_data/"}
