[web]
bind_address = "127.0.0.1:3030"
external_address = "http://localhost:3030"
backend = "in_memory" # TODO: remove option
version_api = true

[project_service]
list_limit = 20

[dataset_service]
list_limit = 20

[postgres]
host = "localhost"
port = 5432
database = "geoengine"
schema = "public"
user = "geoengine"
password = "geoengine"

[raster.tiling_specification]
origin_coordinate_x = 0.0
origin_coordinate_y = 0.0
tile_shape_pixels_x = 512
tile_shape_pixels_y = 512

[query_context]
chunk_byte_size = 1048576 # TODO: find reasonable default

[upload]
path = "upload"

[logging]
# Minimum log level. Can be one of error, warn, info, debug, trace
# or a more detailed spec. See https://docs.rs/flexi_logger/0.17.1/flexi_logger/struct.LogSpecification.html.
log_spec = "info"

# Whether the logs should be also written to files.
# Log files are rotated once per day. The last 7 files will be kept.
log_to_file = false

# Changes the first part of the log filename.
filename_prefix = "geo_engine"

# By default logs are saved in the current working directory.
# Use this option if another folder should be used.
#log_directory = "/var/log/"

[ogc.default_time]
# type "Value" with start/end as ISO strings or "Now" for using the current time, use wcs.default_time etc. for override
type = "Value"
start = "2014-01-01T00:00:00Z"
end = "2014-01-01T00:00:00Z"

[wcs]
# max number of tiles to be produced for generating output tiff
tile_limit = 4 

[dataprovider]
dataset_defs_path = "./test_data/dataset_defs"
provider_defs_path = "./test_data/provider_defs"

[gdal]
# TODO: find good default
# Use 0 for `ALL_CPUS` option or a number >0 for a specific number of threads.
compression_num_threads = 8
allowed_drivers = ["CSV", "COG", "GPKG", "GTiff", "JPEG2000", "MEM", "netCDF", "WCS", "FlatGeobuf", "GeoJSON", "GPKG", "PostgreSQL", "SQLite", "WFS"]


# Settings for Geo Engine Pro
[user]
anonymous_access = true
user_registration = true

[odm]
endpoint = "http://localhost:3000/"
# TODO: authentication
