@use '@angular/material' as mat;

// Material Base Styles
@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

// Base: #14387F / R 20 G 56 B 127
$code-de-darkblue: (
    50: #dce1ec,
    100: #b9c3d9,
    200: #8a9cbf,
    300: #5b74a5,
    400: #375692,
    500: #14387f,
    600: #11306c,
    700: #0e2759,
    800: #0a1c40,
    900: #07142c,
    A100: #0048fa,
    A200: #003fdd,
    A400: #0037bf,
    A700: #002ea2,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

// Base: #3EA3DC / R 62 G 163 B 220
$code-de-lightblue: (
    50: #e2f1fa,
    100: #c5e3f5,
    200: #9fd1ee,
    300: #78bfe7,
    400: #5bb1e1,
    500: #3ea3dc,
    600: #358bbb,
    700: #2b729a,
    800: #1f526e,
    900: #16394d,
    A100: #e0f2ff,
    A200: #a8dbff,
    A400: #70c4ff,
    A700: #37adff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// Define App Theme
$geoengine-primary: mat.m2-define-palette($code-de-darkblue, 500, 300, 900);
$geoengine-accent: mat.m2-define-palette($code-de-lightblue, 700, 300, 900);
$geoengine-warn: mat.m2-define-palette(mat.$m2-red-palette);

$geoengine-typography: mat.m2-define-typography-config(
    $font-family: 'Poppins',
);

// Create the theme object
$geoengine-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $geoengine-primary,
            accent: $geoengine-accent,
            warn: $geoengine-warn,
        ),
        typography: $geoengine-typography,
        density: 0,
    )
);

// Apply Angular Material Mixin to Color Theme
@include mat.all-component-themes($geoengine-theme);
