<div class="container">
    <p>
        <mat-form-field>
            <mat-select [formControl]="countryCtrl" placeholder="Country" #countrySelect>
                <mat-option>
                    <ngx-mat-select-search [formControl]="countryFilterCtrl"></ngx-mat-select-search>
                </mat-option>

                @for (country of filteredCountries | async; track country) {
                    <mat-option [value]="country">
                        {{ country.name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </p>
</div>
