<geoengine-dialog-header>VAT - The Visualization, Analysis and Transformation System</geoengine-dialog-header>
<mat-dialog-content>
    <h2>Biodiversity Data Easily Explored Online</h2>
    <p>Visualize, analyze and transform your biodiversity data in a comfortable online GIS environment! Save and share your workflows!</p>
    <p>
        Have access to collections and biodiversity data centers, international data aggregators and environmental data, and integrate your
        own data!
    </p>
    <p>For a detailed introduction, please have a look at our help section!</p>
    <br />
    <img src="assets/logo_gfbio.png" alt="GFBio" />
    <p>
        <em>VAT</em> is part of the German Federation for Biological Data (<em>GFBio</em>,
        <a href="https://www.gfbio.org">www.gfbio.org</a>), a sustainable, service oriented, national data infrastructure facilitating data
        sharing for biological and environmental research.
    </p>
</mat-dialog-content>
<geoengine-dialog-splash-checkbox [splashScreenName]="splashName"></geoengine-dialog-splash-checkbox>
