.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 12rem;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

img.logo {
    width: 100%;
}

.logout {
    margin-top: 2rem;
}

.selected {
    font-weight: bold;
}
