mat-sidenav-container {
    top: 4rem !important;

    z-index: 0; // put the map behind the toolbar
}

mat-toolbar.navbar {
    padding: 0;
    position: relative;
    z-index: 1;

    height: 4rem;

    img.logo {
        height: 2rem;
        width: auto;
        margin: 0 1rem;
    }

    geoengine-layer-list-menu {
        width: 3rem;
    }

    .space {
        flex: 1;
    }

    .divider {
        height: 2rem;
        border-right: 1px solid var(--geoengine-divider-color);
    }
}

.homepage-button {
    margin: 0 1rem;

    mat-icon {
        color: inherit; // use color from button
    }

    img {
        height: 1.5rem;
        vertical-align: middle;
    }
}

geoengine-layer-list {
    position: absolute;
    z-index: 2;
    left: 0.5rem;
    top: 0.5rem;
    border-bottom-right-radius: 2px;

    ::ng-deep svg {
        border: none;
        border-radius: unset;
    }
}

:host ::ng-deep .mat-sidenav-content {
    overflow: hidden;
}

.mat-sidenav {
    border: none;
}

.top-container {
    z-index: 1;
}

.mid-container {
    z-index: 0;
    position: relative;
}
