# .env file for GitHub Action

# ACTIONS_STEP_DEBUG=true
INPUT_TEAMENGINE-IMAGE=teamengine-dev:1.0-SNAPSHOT

# URL of the OGC endpoint to validate
INPUT_SERVICE-URL=http://localhost:3030/api/ogc/$PROCESSING_GRAPH_ID/

# If set, validate OGC API - Processes
INPUT_OGC-API-PROCESSES=false
INPUT_OGC-API-FEATURES=false
INPUT_OGC-API-TILES=true

# Parameters to run for OGC API - Tiles validation
INPUT_ECHOPROCESSID=echo
INPUT_OGC-API-TILES-TILEMATRIXSETDEFINITIONURL="http://www.opengis.net/def/tilematrixset/OGC/1.0/WebMercatorQuad"
INPUT_OGC-API-TILES-URLTEMPLATEFORTILES="http://localhost:3030/api/ogc/$PROCESSING_GRAPH_ID/collections/$PROCESSING_GRAPH_ID/map/tiles/GeoEngineCustomTMS/{tileMatrix}/{tileRow}/{tileCol}.png"
INPUT_OGC-API-TILES-TILEMATRIX="1"
INPUT_OGC-API-TILES-MINTILEROW="0"
INPUT_OGC-API-TILES-MAXTILEROW="1"
INPUT_OGC-API-TILES-MINTILECOL="0"
INPUT_OGC-API-TILES-MAXTILECOL="1"
INPUT_OGC-API-TILES-IGNORE=""

# Multi-line list of test identifiers to ignore for OGC API validation
INPUT_OGC-API-PROCESSES-IGNORE=""
INPUT_OGC-API-FEATURES-IGNORE=""

# Path to the GitHub Actions step summary file
GITHUB_STEP_SUMMARY=step_summary.md
