<form (ngSubmit)="login()">
    <div class="container" fxLayout="column" fxLayoutAlign="space-around">
        <div class="login">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title><img src="assets/geoengine.svg" class="logo" /></mat-card-title>
                    <mat-card-subtitle class="subtitle"> ESG Indicator Service </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    @switch (formStatus()) {
                        @case (FormStatus.Oidc) {
                            <mat-card-actions>
                                <button mat-raised-button (click)="oidcLogin()" fxFlex color="primary">Sign in using OIDC</button>
                            </mat-card-actions>
                        }
                        @case (FormStatus.LoggedOut) {
                            <mat-form-field>
                                <input matInput type="text" placeholder="E-Mail" [formField]="loginForm.email" />
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput type="password" placeholder="Password" [formField]="loginForm.password" />
                            </mat-form-field>
                            @if (invalidCredentials()) {
                                <p class="error">Invalid Credentials</p>
                            }
                        }
                        @case (FormStatus.Loading) {
                            <mat-spinner></mat-spinner>
                        }
                        @case (FormStatus.LoggedIn) {
                            @if (user(); as user) {
                                <table>
                                    <tr>
                                        <th>E-Mail</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Real Name</th>
                                        <td>{{ user.realName }}</td>
                                    </tr>
                                </table>
                            }
                        }
                    }
                </mat-card-content>
                @if (formStatus() !== FormStatus.Oidc) {
                    <mat-card-actions fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
                        @switch (formStatus()) {
                            @case (FormStatus.LoggedOut) {
                                <button mat-raised-button type="submit" [disabled]="!loginForm().valid" color="primary" fxFlex>
                                    Login
                                </button>
                            }
                            @case (FormStatus.LoggedIn) {
                                <button mat-raised-button (click)="$event.preventDefault(); redirectToMainView()" fxFlex>
                                    To Dashboard
                                </button>
                                <button mat-raised-button (click)="$event.preventDefault(); logout()" fxFlex color="primary">Logout</button>
                            }
                        }
                    </mat-card-actions>
                }
            </mat-card>
        </div>
    </div>
</form>
