---
interface Props {
    href: string;
}

const {href} = Astro.props;
---

<a
    class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium
           first:rounded-es-xl last:rounded-ee-xl bg-white text-gray-800 shadow-2xs hover:bg-gray-50
           focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none
           dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800
           dark:focus:bg-neutral-800"
    href={href}
>
    <slot />
</a>
