<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- <h2 class="text-2xl sm:text-3xl font-semibold text-gray-800 dark:text-neutral-200 text-center">Open Source Repositories</h2>
    <br /><br /> -->
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <slot />
    </div>
    <!-- End Grid -->
</div>
<!-- End Card Blog -->
