<!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-4xl mx-auto">
        <!-- Grid -->
        <div class="grid md:grid-cols-2 gap-6 lg:gap-12">
            <slot />
        </div>
        <!-- End Grid -->
    </div>
</div>
<!-- End Icon Blocks -->
