<p><img src="assets/logos/terra-nova-eu-color-01-1.jpg" alt="TerraNova" /></p>
<p>
    <strong>TerraNova digital atlas of Europe</strong> is being compiled by an interdisciplinary group of researchers that combine human
    population patterns in the past, plants and disturbances, animal development, and climate change. This atlas will give strategic
    guidelines and policy measures for politicians and landscape practitioners, prove the strength of interdisciplinary research in academia
    in the Anthropocene and to raise sustainable awareness on landscape reform among academia, the commerce and the general public.
</p>
<p>
    <strong>TerraNova</strong> - The European Landscape Learning Initative has received funding from the European Union’s Horizon 2020
    research and innovation programme under grant agreement No 813904.
</p>
<p>
    More info:
    <a href="https://www.terranova-itn.eu/">www.terranova-itn.eu</a>
</p>
<mat-divider></mat-divider>
<p>This app is powered by Geo Engine.</p>
<p><img src="assets/geoengine.svg" alt="Geo Engine" /></p>
<p>More info: <a href="https://www.geoengine.de">www.geoengine.de</a></p>
