mat-form-field {
    width: 100%;
}

.actions {
    text-align: right;
    height: 3rem;
    padding: 1rem;

    button {
        margin: 0.5rem;
    }
}

.container {
    display: flex;
    height: 100%;
}

.content {
    width: 100%;
}

mat-divider {
    margin-bottom: 1rem;
}
