[package]
name = "expression-deps"
version = "0.0.0"
edition = "2021"

[lib]
path = "lib.rs"
crate-type = ["rlib"]
test = false
doctest = false
bench = false
doc = false
plugin = false
proc-macro = false
harness = false

[dependencies]
geo = "0.27.0"
