:host {
    width: 100%;
}

mat-card {
    margin: 1rem;
}

mat-card-content {
    margin-top: 1rem;
}

mat-form-field {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

table {
    width: 100%;
}
