<h3>Die Entwicklung des Portals wird unterstützt von</h3>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="1rem">
    <mat-grid-tile
        ><a href="https://www.libellula.org" target="_blank">
            <img src="assets/logos/gdo-cropped.gif" alt="Gesellschaft deutschsprachiger Odonatologen" /> </a
    ></mat-grid-tile>
    <mat-grid-tile
        ><a href="https://www.nfdi4biodiversity.org" target="_blank">
            <img src="assets/logos/nfdi4biodiversity.png" alt="NFDI4BioDiversity" /> </a
    ></mat-grid-tile>
    <mat-grid-tile
        ><a href="https://www.ichthyologie.de" target="_blank">
            <img src="assets/logos/gesellschaft-fuer-ichthyologie-logo.png" alt="Gesellschaft für Ichthyologie" /> </a
    ></mat-grid-tile>
    <mat-grid-tile
        ><a href="https://www.ioer.de" target="_blank">
            <img
                src="assets/logos/logo-ioer-de-1.svg"
                alt="Leibniz-Institut für ökologische Raumentwicklung"
                width="430"
                height="200"
            /> </a
    ></mat-grid-tile>
    <mat-grid-tile colspan="2" class="colspan2"
        ><a href="https://www.geoengine.de" target="_blank"> <img src="assets/logos/geoengine.png" alt="Geo Engine" /> </a
    ></mat-grid-tile>
</mat-grid-list>
