<mat-toolbar #topToolbar class="top-bar">
    <img [src]="config.BRANDING.LOGO_URL" class="logo" />

    <h1>Enhanced Data Viewer</h1>

    <div class="space"></div>

    <button type="button" matIconButton aria-label="Help">
        <mat-icon>help</mat-icon>
    </button>

    <button
        type="button"
        matIconButton
        [matMenuTriggerFor]="userMenu"
        [attr.aria-label]="isGuestUser() ? 'Login' : 'User account'"
        [matTooltip]="isGuestUser() ? 'Login' : 'User account'"
    >
        <mat-icon>{{ isGuestUser() ? 'person_outline' : 'person' }}</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" class="user-menu">
        <geoengine-oidc [showSession]="false" [showQuota]="false" [showRoles]="false" [directLogin]="true"></geoengine-oidc>
    </mat-menu>

    <button type="button" matIconButton aria-label="Settings">
        <mat-icon>settings</mat-icon>
    </button>

    <!-- <geoengine-layer-list-menu></geoengine-layer-list-menu>

    @if (config.BRANDING.HOMEPAGE; as homepage) {
        <div class="divider"></div>

        <a [href]="homepage.URL" mat-flat-button color="primary" class="homepage-button">
            <mat-icon>keyboard_return</mat-icon>
            <span></span>
            <img [src]="homepage.BUTTON_IMAGE_URL" [alt]="homepage.BUTTON_ALT_TEXT" [matTooltip]="homepage.BUTTON_TOOLTIP_TEXT" />
        </a>
    }

    <div class="divider"></div>

    <!-- <geoengine-zoom-handles (zoomIn)="map.zoomIn()" (zoomOut)="map.zoomOut()"></geoengine-zoom-handles> -->

    <!-- <div class="divider"></div>

    

    <div class="divider"></div>

    <div class="space"></div>

    <geoengine-navigation [buttons]="navigationButtons | async | valueDefault: []"></geoengine-navigation> -->
</mat-toolbar>

<mat-drawer-container [style.height.px]="middleContainerHeight()">
    <mat-drawer position="start" mode="side" opened="true">
        <div class="drawer-container">
            <mat-nav-list>
                <mat-list-item [activated]="isLayersActive()" (click)="openLayersTab()">
                    <span matListItemTitle>
                        <mat-icon>layers</mat-icon>
                    </span>
                    <span matListItemLine>Layers</span>
                </mat-list-item>
                <mat-list-item [activated]="isComputeActive()" (click)="openComputeTab()">
                    <span matListItemTitle>
                        <mat-icon svgIcon="cogs"></mat-icon>
                    </span>
                    <span matListItemLine>Compute</span>
                </mat-list-item>
                <mat-list-item [activated]="isSearchActive()" (click)="openSearchTab()">
                    <span matListItemTitle>
                        <mat-icon>search</mat-icon>
                    </span>
                    <span matListItemLine>Search</span>
                </mat-list-item>
                <div class="spacer"></div>
                <mat-list-item [activated]="isAboutActive()" (click)="openAboutTab()">
                    <span matListItemTitle>
                        <img src="assets/geoengine.png" alt="Geo Engine" class="geoengine-logo" />
                    </span>
                    <span matListItemLine>About</span>
                </mat-list-item>
            </mat-nav-list>

            <div class="drawer-main">
                <ng-template [cdkPortalOutlet]="tabComponent()"></ng-template>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <geoengine-map-container #map [grid]="false">
            @if (sessionToken()) {
                @for (layer of layersReverse(); track idFromLayer($index, layer)) {
                    @if (layer.layerType === 'vector') {
                        <geoengine-ol-vector-layer
                            [layerId]="layer.id"
                            [workflow]="layer.workflowId"
                            [symbology]="$any(layer.symbology)"
                            [isVisible]="layer.isVisible"
                            (mapRedraw)="map.layerForcesRedraw()"
                        ></geoengine-ol-vector-layer>
                    }
                    @if (layer.layerType === 'raster') {
                        <geoengine-ol-raster-layer
                            [layerId]="layer.id"
                            [workflow]="layer.workflowId"
                            [symbology]="$any(layer.symbology)"
                            [isVisible]="layer.isVisible"
                            [sessionToken]="sessionToken()"
                            (mapRedraw)="map.layerForcesRedraw()"
                        ></geoengine-ol-raster-layer>
                    }
                }
                @let mapTileLayer = landCover.value();
                @let currentSessionToken = sessionToken();
                @let currentSpatialReference = spatialReference();
                @let mapTileDate = currentTime();
                @if (mapTileLayer && currentSessionToken && currentSpatialReference && mapTileDate) {
                    <geoengine-ol-ogc-api-map-tile-layer
                        [layerId]="0"
                        [dataConnectorId]="mapTileLayer.dataConnectorId"
                        [dataLayerId]="mapTileLayer.layerId"
                        [sessionToken]="currentSessionToken"
                        [spatialReference]="currentSpatialReference"
                        [time]="mapTileDate"
                        [tmsId]="'CustomWebMercator'"
                        [isVisible]="testIsVisible()"
                    ></geoengine-ol-ogc-api-map-tile-layer>
                    <geoengine-ol-ogc-api-map-tile-layer
                        [layerId]="0"
                        [dataConnectorId]="mapTileLayer.dataConnectorId"
                        [dataLayerId]="mapTileLayer.layerId"
                        [sessionToken]="currentSessionToken"
                        [spatialReference]="currentSpatialReference"
                        [time]="mapTileDate"
                        [tmsId]="'CustomWebMercator'"
                        [isVisible]="testIsVisible()"
                        [debug]="true"
                    ></geoengine-ol-ogc-api-map-tile-layer>
                }
            }
        </geoengine-map-container>

        <div class="side-buttons">
            <mat-button-toggle-group
                #zoomButtons="matButtonToggleGroup"
                class="zoom"
                vertical="true"
                hideSingleSelectionIndicator="true"
                hideMultipleSelectionIndicator="true"
            >
                <mat-button-toggle (click)="map.zoomIn(); zoomButtons.value = null" aria-label="Zoom In">
                    <mat-icon>add</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="map.zoomOut(); zoomButtons.value = null" aria-label="Zoom Out">
                    <mat-icon>remove</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>

            <button
                #measureButton="geoengineMeasure"
                type="button"
                matMiniFab
                aria-label="Measure"
                [disabled]="boxButton.isActive()"
                [color]="measureButton.isActive() ? 'primary' : null"
                [geoengineMeasure]="map"
                [measurementType]="MeasurementType.Line"
            >
                <mat-icon>straighten</mat-icon>
            </button>

            <button
                #boxButton="geoengineMeasure"
                type="button"
                matMiniFab
                aria-label="Box"
                [disabled]="measureButton.isActive()"
                [color]="boxButton.isActive() ? 'primary' : null"
                [geoengineMeasure]="map"
                [measurementType]="MeasurementType.Box"
            >
                <mat-icon>crop_square</mat-icon>
            </button>

            <button
                type="button"
                matMiniFab
                aria-label="Download"
                color="secondary"
                (click)="downloadMapImage()"
                [disabled]="mapImageLoading()"
            >
                <mat-icon>image</mat-icon>
            </button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
