@use '@angular/material' as mat;

mat-toolbar {
    .logo {
        height: 125%;
        width: auto;
        margin: 0 1rem 0 0;
        margin-bottom: 0.5rem;
    }

    .space {
        flex: 1;
    }

    border-bottom: 1px solid var(--geoengine-divider-color);
}

mat-drawer {
    width: 360px;

    .drawer-container {
        display: flex;
        flex-direction: row;
        height: 100%;

        mat-nav-list {
            display: flex;
            flex-direction: column;
            border-right: 1px solid var(--geoengine-divider-color);

            mat-list-item span {
                text-align: center;
            }

            .geoengine-logo {
                height: 1.5rem;
                width: auto;
            }

            .spacer {
                flex: 1;
            }
        }

        .drawer-main {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0 0.5rem;
            overflow: auto;
        }
    }
}

.side-buttons {
    position: absolute;
    right: 1rem;
    top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    mat-button-toggle-group {
        // width: 40px;
        mat-button-toggle:first-child {
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
        }
        mat-button-toggle:last-child {
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }

    button {
        width: 48px; // adjust to toggle button size
        height: 48px; // adjust to toggle button size
    }
}
